{
	"token": "<token here>",
	"prefix": "!",
	"bet": {
		"embed_color": "#2791dd",
		"default_balance": 500,
		"name": "🥓",
		"tts": false,
		"bettable_lenght": 4,
		"bettable": [
			{
				"emoji": "💵",
				"value": 50
			},
			{
				"emoji": "💰",
				"value": 100
			},
			{
				"emoji": "💎",
				"value": 500
			},
			{
				"emoji": "🔱",
				"value": 1000
			}
		]
	},
	"redis": {
		"host": "127.0.0.1",
		"port": 6379
	},
	"profile": {
		"color": "#2791dd",
		"default_desc": "Some random dude"
	}
}